<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nanicitus" type="Nuclei.Configuration.ConfigurationSectionToXmlTranslator, Nuclei.Configuration" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <nanicitus>
        <DefaultLogLevel>
            <LevelToLog>Info</LevelToLog>
        </DefaultLogLevel>
        <LogPath>
            <string>D:\temp\sourceindextest</string>
        </LogPath>
        <!--
        <DebuggingToolsDirectory>
            <string>C:\Program Files (x86)\Windows Kits\8.0\Debuggers\x64</string>
        </DebuggingToolsDirectory>
        -->
        <SourceIndexUncPath>
            <string>\\akl-pvelde\sourceindex</string>
        </SourceIndexUncPath>
        <SymbolsIndexUncPath>
            <string>\\akl-pvelde\symbolindex</string>
        </SymbolsIndexUncPath>
        <ProcessedPackagesPath>
            <string>d:\temp\sourceindextest\processed</string>
        </ProcessedPackagesPath>
        <UploadPath>
            <string>d:\temp\sourceindextest\upload</string>
        </UploadPath>
    </nanicitus>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Consul" publicKeyToken="20a6ad9a81df1d95" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-0.7.2.3" newVersion="0.7.2.3" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Nuclei.Diagnostics" publicKeyToken="ee5b68ec5ad4ef93" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-0.10.0.0" newVersion="0.10.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>