<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nanicitus" type="Nuclei.Configuration.ConfigurationSectionToXmlTranslator, Nuclei.Configuration" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <nlog>
        <targets>
            <target
                encoding="utf-8"
                fileName="${basedir}/logs/logfile.txt"
                keepFileOpen="false"
                layout="${longdate} ${logger} ${message}"
                name="file"
                type="File" />
            <target 
                bufferSize="10"
                name="elasticsearch_buffer"
                type="BufferingWrapper" >
                <target
                    disableAutomaticProxyDetection="Boolean"
                    documentType="logevent"
                    excludedProperties="String"
                    includeAllProperties="Boolean"
                    index="applogs-${date:format=yyyy.MM.dd}"
                    layout="${logger} | ${threadid} | ${message}"
                    name="elasticsearch"
                    type="ElasticSearch"
                    uri="http://active.logs.service.consul:9200" >
                    <field 
                        layout="${windows-identity:userName=True:domain=False}"
                        name="user"/>
                    <field 
                        layout="${machinename}"
                        name="host"/>
                </target>
            </target>
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="elasticsearch_buffer, file" />
        </rules>
    </nlog>
    <nanicitus>
        <ConsulAddress>
            <string>http://localhost:8500</string>
        </ConsulAddress>
        <DefaultLogLevel>
            <LevelToLog>Info</LevelToLog>
        </DefaultLogLevel>
        <!--
        <DebuggingToolsDirectory>
            <string>C:\Program Files (x86)\Windows Kits\8.0\Debuggers\x64</string>
        </DebuggingToolsDirectory>
        -->
        <MetricsDatabaseName>
            <string>symbols</string>
        </MetricsDatabaseName>
        <MetricsServiceName>
            <string>metrics</string>
        </MetricsServiceName>
        <MetricsServiceTag>
            <string>active</string>
        </MetricsServiceTag>
        <ServiceDiscoveryHealthCheckIntervalInSeconds>
            <int>10</int>
        </ServiceDiscoveryHealthCheckIntervalInSeconds>
        <ServiceDiscoveryName>
            <string>nanicitus</string>
        </ServiceDiscoveryName>
        <ServiceDiscoveryActiveTag>
            <string>active</string>
        </ServiceDiscoveryActiveTag>
        <ServiceDiscoveryTags>
            <ArrayOfString>
                <string></string>
            </ArrayOfString>
        </ServiceDiscoveryTags>
        <ServicePort>
            <int>5050</int>
        </ServicePort>
        <ShouldRegisterForDiscovery>
            <bool>true</bool>
        </ShouldRegisterForDiscovery>
        <SourceIndexUncPath>
            <string>\\akl-pvelde\sourceindex</string>
        </SourceIndexUncPath>
        <SymbolsIndexUncPath>
            <string>\\akl-pvelde\symbolindex</string>
        </SymbolsIndexUncPath>
        <ProcessedPackagesPath>
            <string>c:\temp\sourceindextest\processed</string>
        </ProcessedPackagesPath>
        <UploadPath>
            <string>c:\temp\sourceindextest\upload</string>
        </UploadPath>
    </nanicitus>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Nuclei.Diagnostics" publicKeyToken="ee5b68ec5ad4ef93" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-0.10.0.0" newVersion="0.10.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>