<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net462" />
  <package id="Autofac.Mvc5" version="4.0.2" targetFramework="net462" />
  <package id="Autofac.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Autofac.WebApi2" version="4.0.0" targetFramework="net462" />
  <package id="Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Consul" version="0.6.4.7" targetFramework="net462" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Versioning" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net462" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net462" />
  <package id="NLog" version="4.4.11" targetFramework="net462" />
  <package id="Nuclei" version="0.9.2" targetFramework="net462" />
  <package id="Nuclei.Build" version="0.9.0" targetFramework="net462" />
  <package id="Nuclei.Configuration" version="0.9.0" targetFramework="net462" />
  <package id="Nuclei.Diagnostics" version="0.10.0" targetFramework="net462" />
  <package id="Nuclei.Diagnostics.Logging.NLog" version="0.1.0" targetFramework="net462" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="Topshelf" version="4.0.3" targetFramework="net462" />
  <package id="Topshelf.Autofac" version="3.1.1" targetFramework="net462" />
  <package id="Topshelf.NLog" version="4.0.3" targetFramework="net462" />
</packages>